bin/
build/
node_modules/
references/
doc/
out/
preview/test-fonts
.typeSXS_public
*.7z
*.zip
*.tgz
*.log
*.exe
*.aux
*.fls
*.toc
*.out
*.fdb_latexmk
*.pdf
**.DS_Store
**/*.packed.js
ns-proof-page/fonts
package-lock.json
