bin/*
build/*
out/*
node_modules/
references/*
doc/*
preview/test-fonts
.typeSXS_public
*.7z
*.zip
*.log
*.exe
*.aux
*.fls
*.toc
*.out
*.fdb_latexmk
*.pdf
**.DS_Store
**/*.packed.js
package-lock.json
*.tgz
